:root {
  --font-family: 'Shippori Antique', serif;
}

@font-face {
  font-family: 'Shippori Antique';
  src: url('../src/assets/fonts/ShipporiAntique-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: var(--font-family);
  margin: 0;
  background-color: #fafafa;
}

h2 {
  margin: 0;
}

td {
  padding: 0 1rem 0 1rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
}

main {
  height: 100vh;
}

/*Attaching font family*/
.aside-left-navbar {
  font-family: var(--font-family);
}