.form-login {
    text-align: center;

    padding: 1rem;
    border: 1px solid black;
}

.input-login {
    border: none;
	/* border-bottom: 2px solid #D1D1D4; */
    border-bottom: 1px solid black;
	background: none;
	font-weight: 700;
	transition: .2s;
    margin: .5rem;
}

.button-login {
    margin: .5rem;
    cursor: pointer;
    border: #D1D1D4;

    padding: .5rem 0 .5rem 0;
    min-width: 92%;
    color: rgb(197,197,197);
    /* color: white; */
    background-color: rgb(51,51,51);
}

.section-login {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;

    justify-content: center;
    align-items: center;
}