.aside-left-navbar {
    /* height: 100vh; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
}

.ul-left-navbar {
    display: flex;
    flex-direction: column;
    list-style: none;

    height: 100%;
    justify-content: center;

    /*  */
    padding-left: 4vw;
    margin: 0;
    gap: 12%;

    /* Font */
    font-size: 1rem;
    list-style: none;
    /* padding-top: 4vw; */
}

.ul-left-navbar li:hover {
    cursor: pointer;
}

.li-left-navbar {
    display: flex;
    width: 100vw;
}

.aside-right-icon {
    height: 2rem;
    /* height: 100%; */
    margin-right: 10vw;
    vertical-align: middle;
}

.aside-right-icon:hover {
    cursor: pointer;
}

.link-left-navbar {
    margin-left: auto;
}

.aside-right-icon-smaller {
    /* height: 100%; */
    height: 2rem;
    margin-right: 10vw;
    vertical-align: middle;
}

.aside-right-icon-smaller {
    cursor: pointer;
}